.button-primary
  padding: 8px 12px
  border: 1px solid $secondary--dark
  border-radius: 12px
  box-shadow: $shadow-2dp
  background-color: $secondary
  min-width: 240px

.button-secondary
  text-decoration: underline
  font-weight: 500

button.primary
  padding: $space-sm $space-md
  border-radius: $radius-large
  box-shadow: $shadow-2dp
  
button.secondary
  text-decoration: underline
  font-weight: 500
  border: none
  background: none

button.wide
  margin: 0 auto
  width: 77%
