.container
  display: grid
  grid-gap: $space-lg
  padding: $space-lg
  
  &--well
    grid-gap: $space-md
    padding: $space-md

  & section.well
    min-height: 25vh

article.card
  box-shadow: $shadow-2dp
  border-radius: $radius

.container-small
  display: grid
  grid-gap: $space-md
  padding: $space-md

.container-inline
  display: flex
  place-content: center
  gap: $space-sm
