.container
  display: grid
  grid-gap: $space-lg
  padding: $space-lg
  
  &--card
    box-shadow: $shadow-2dp
    border-radius: $radius

  &--well
    grid-gap: $space-md
    padding: $space-md

.container-small
  display: grid
  grid-gap: $space-md
  padding: $space-md

.container-inline
  display: flex
  place-content: center
  gap: $space-sm
