@media screen and (max-width: $screen-mobile)
  section.playmat
    grid-template-columns: 1fr
    grid-gap: $space-md
  section.up
    & > :first-child
      grid-column: auto / span 2
      & h4
        font-size: 125%

@media screen and (min-width: $screen-mobile) and (max-width: $screen-tablet)
  section.playmat
    grid-template-columns: 1fr 1fr
    grid-gap: $space-md
  section.up
    grid-template-columns: 1fr 1fr
    & > :first-child
      grid-column: auto / span 2
      & h4
        font-size: 125%

@media screen and (min-width: $screen-tablet+1) and (max-width: $screen-laptop)
  section.playmat
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: $space-md
  section.up
    grid-template-columns: 1fr 1fr 1fr

@media screen and (min-width: $screen-laptop)
  section.playmat
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-gap: $space-md
  section.up
    grid-template-columns: 1fr 1fr 1fr 1fr

section.playmat
  display: grid

section.well
  display: flex
  flex-direction: column
  justify-content: center
  vertical-align: middle
  gap: $space-sm
  padding: $space-md

blockquote
  padding: $space-md
  margin: 0 $space-md
  box-shadow: $shadow-2dp
  display: grid
  grid-gap: $space-sm

section.quote
  display: flex
  flex-direction: column
  justify-content: center
  padding: $space-md
  margin: 0 $space-md
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2)

section.topleft
  position: relative
  & > figure
    position: absolute
    top: 16px
    left: 16px

section.overlay
  min-height: 20vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  position: relative
  & > svg
    padding: $space-md
    z-index: -1
    box-sizing: border-box
    fill: $primary--dark
    position: absolute
    height: 100%

section.row
  display: flex
  flex-wrap: wrap
  place-content: center

section.infi-row
  display: flex
  flex-wrap: nowrap
  overflow-x: auto
  gap: 16px
  & > article
    flex: 0 0 auto

section.mason
  columns: 2
  column-gap: $space-md
  & > article
    margin-bottom: $space-md

section.up
  display: grid
  grid-gap: 12px

section.inner
  display: grid
  grid-gap: 12px

section.note
  display: flex
  flex-direction: column
  justify-content: center
  padding: $space-md
  margin: 0 $space-md
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2)

section.plate
  display: grid
  grid-template-columns: 2fr 1fr

section.basic
  display: grid
  gap: $space-sm
  
section.small
  height: 33vh

section.left
  text-align: left

.container-inline
  display: flex
  place-content: center
  gap: $space-sm
  
.section-well
  min-height: 30vh
  display: flex
  flex-direction: column
  justify-content: center
  vertical-align: middle
