@media screen and (max-width: $screen-mobile)
  section.playmat
    grid-template-columns: 1fr

@media screen and (min-width: $screen-mobile) and (max-width: $screen-tablet)
  section.playmat
    grid-template-columns: 1fr

@media screen and (min-width: $screen-tablet) and (max-width: $screen-laptop)
  section.playmat
    grid-template-columns: 1fr 1fr

.section-well
  min-height: 30vh
  display: flex
  flex-direction: column
  justify-content: center
  vertical-align: middle

section.playmat
  display: grid
  grid-gap: $space-sm

section.well
  display: flex
  flex-direction: column
  justify-content: center
  vertical-align: middle
  gap: $space-sm
  padding: $space-md

blockquote
  padding: $space-md
  margin: 0 $space-md
  box-shadow: $shadow-2dp
  display: grid
  grid-gap: $space-sm

section.quote
  display: flex
  flex-direction: column
  justify-content: center
  padding: $space-md
  margin: 0 $space-md
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2)

section.overlay
  min-height: 20vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  position: relative
  & > svg
    padding: $space-md
    z-index: -1
    box-sizing: border-box
    fill: $primary--dark
    position: absolute
    height: 100%
  
section.row
  display: flex
  place-content: center
  gap: $space-sm

.container-inline
  display: flex
  place-content: center
  gap: $space-sm

.section-3up
  display: grid
  grid-template-columns: 1fr 1fr
  grid-gap: 12px
  & > :first-child
    grid-column: auto / span 2
    & h4
      font-size: 125%
