---
layout: default
title: about
---
<link rel="stylesheet" href="assets/css/about.css">


<div class="about container">
  <h1 class="about__title">joel & marisa</h1>
  <h2>travel partners and lovers, for life!</h2>
  <p>This is the about desciption and stuff do you want to write this part now. No thanks I'd rather keep working on it.</p>
  <hr>
  {% include person-item.html name="joel" img="assets/media/joel.jpg" description="this is joel's description" %}
  {% include person-item.html name="marisa" img="assets/media/marisa.jpg" description="this is marisa's description" %}
</div>
