---
layout: default
title: Home
---
<!--
<script src="//cdn.jsdelivr.net/npm/eruda"></script>
<script>eruda.init();</script>
-->

<link rel="stylesheet" href="/assets/css/home.css">


<!-- TODO: change landing photo to a current painted trailer photo -->
<div class="landing">
  <div class="landing-text">
    <h2 class="landing-text-flavor">
      one year on the road</br>
      two kids with a dream
    </h2>
    <h3 class="landing-text-names">
      joel &#38; marisa
    </h3>
  </div>
</div>


<div id="about" class="container theme--primary">
  <blockquote>
    <h2>
      "road trippin'<br>
      in our 1980<br>
      self-renovated<br>
      tiny home trailer"
    </h2>
  </blockquote>

  <p>
    Just two 21 year old enviromentally conscious kids road trippin' around the US, in our 1980 self-renovated tiny home trailer! For one full year we will be seeing as many beautiful sites as we can in this sublime part of the world.
  </p>
 
  <button class="secondary wide big">
    <a href="/journal/how_our_dreams_turned_into_our_reality/">
      Read our full story
    </a>
  </button>
</div>


<div id="featured" class="container theme--secondary">
  <h2>Featured Posts</h2>

  <section class="playmat">
    {% assign posts-featured = site.posts | where: "featured", "true" %}
    {% for post in posts-featured limit:3 %}
      {% include post-card.html post=post %}
    {% endfor %}
  </section>

  <button class="primary wide big">
    <a href="/blog">see all posts</a>
  </button>
</div>


<div id="eco" class="container theme--primary">
  <section class="row">
    <h2>eco</h2>
    <div class="icon-circle">
      {% include icons/leaf.svg %}
    </div>
  </section>

  <section class="well overlay">
    <p>while living in our rv we say things about sustanibility and other words we like to relate to.</p>
    <svg>
      {% include icons/leaf.svg %}
    </svg>
  </section>

  {% include post-item.html post=site.posts.first %}
  
  <button class="primary wide big">
    <a href="/eco/">
      eco-based posts
    </a>
  </button>
</div>


<div id="recipes" class="recipes container theme--secondary">
  <section class="row">
    <h2>recipes</h2>
    <div class="icon-circle">
      {% include icons/leaf.svg %}
    </div>
  </section>

  <section class="well">
    <p>
      there's going to eb alot of text here becasue its actually an intro and not a catch line. easy, cheap and healthy food.
    </p>
  </section>

  <section class="up">
    {% for recipe in site.recipes limit:3 %}
      {% include post-recipe.html post=recipe %}
    {% endfor %}
  </section>
  
  <button class="primary wide big">
    <a href="/recipes/">
      see all recipes
    </a>
  </button>
</div>
