---
layout: default
title: map
---
<link rel="stylesheet" href="/assets/css/map.css">


<div class="container theme--primary">
  <h1>all destinations</h1>

  <section id="map">
    <section class="row">
      <h3>12 states</h3>
      <h3>24 destinations</h3><!-- find out how I cna do site.destinations.amount or .length -->
    </section>

    <hr></hr>

    {% include US_map.html %}
  </section>
</div>

<div id="states" class="container theme--primary">

  <section class="playmat">
  {% for state in site.states %}
    <section class="basic">

      <article class="card"><a href="{{ state.url }}">
        <h4>{{ state.title }}</h4>
        <img class="" src="/assets/media/destinations/{{ state.title }}.jpg"></img>
        </a>
      </article>

      {% assign state-destinations = site.destinations | where: "state", state.title %}
      {% if state-destinations != empty %}
        <section class="left">
          {% for destination in state-destinations limit:3 %}
            <article><a href="{{ destination.url }}">
              <h5>- {{ destination.title }}</h5>
            </a>
            </article>
          {% endfor %}
        </section>
      {% endif %}

    </section>
  {% endfor %}
  </section>
</div>
