<header class="header">

  <div class="container-tiny theme--primary">
    <section class="trophies">
      <section class="row">
        <svg class="large icon">
          {% include icons/instagram.svg %}
        </svg>
        <svg class="large icon">
          {% include icons/rss.svg %}
        </svg>
      </section>
      <aside></aside>
      <button id="drawer-button" class="primary">Menu</button>
    </section>
  </div>

  <h1 class="logo">Happy Campers</h1>

  {% include navigation.html %}
  {% include variables.html %} 
</header>
