<div class="header">
  <div class="actions">
    <ul class="actions__social_list">
      <li class="actions__social_item">
        <img class="icon" src="/assets/icons/instagram-square-brands.svg" alt="instagram icon">
      </li>
      <li class="actions__social_item">
        <img class="icon" src="/assets/icons/rss-square-solid.svg" alt="rss icon">
      </li>
    </ul>
  </div>

  <h1 class="header__title">Happy Campers</h1>

  {% include navigation.html %}
  {% include variables.html %} 
</div>
