<div id="nav-header" class="theme--secondary">
  <section class="row">
    {% for item in site.data.navigation %}
    
      {% if item.dropdown %}
        <section class="dropdown" >
          <section class="row">
            <p><a href="{{ item.url }}">
              {{ item.title }}
            </a></p>
            <section onClick="handleDropdown(event, this.parentNode.parentNode)" onmouseenter="handleDropdown(event, this.parentNode.parentNode)">
              <svg class="icon">{% include icons/dropdown.svg %}</svg>
            </section>
          </section>
          <nav class="dropdown-nav hidden">
            <main>
              <section class="well">
                {% for dropdown in item.dropdown %}
                  <p><a href="{{ dropdown.url }}">
                    {{ dropdown.title }}
                  </a></p>
                {% endfor %}
              </section>
            </main>
          </nav>
        </section>
      {% else %}
        <p><a href="{{ item.url }}">
          {{ item.title }}
        </a></p>
      {% endif %}

    {% endfor %}
  </section>
</div>
