{% assign post = include.post %}

<a href="{{ post.url }}">
  <article class="card post-card">
    {% if post.pin %}
      <section class="post-card__img_area">
        <img src="{% asset_path pin.jpg {{ post.id }} %}">
      </section>
    {% elsif include.post.cover %}
      <section class="post-card__img_area">
        <img src="{% asset_path cover.jpg {{ include.post.id }} %}">
        <div class="post-card__title">
          <h4>{{ include.post.title }}</h4>
        </div>
      </section>
    {% else %}
      <!-- Broken image, because card's should have them -->
      <section class="post-card__img_area">
        <img src="/assets/images/placeholder.jpg">
        <div class="post-card__title">
          <h4>{{ include.post.title }}</h4>
        </div>
      </section>
    {% endif %}

    {% if post.description != "none" %}
      <section class="well">
        <p>{{ include.post.description }}</p>
      </section>
    {% endif %}
  </article>
</a>
