html, body
  margin: 0
  padding: 0
  height: 100%
  width: 100%

ul
  margin: 0
  padding: 0


.header-title
  font-size: 16px
  color: green
  margin: 8px 16px

@media screen and (max-width: 760px)
  .content
    width: 100vw
    margin: 0
    padding: 0
