@function tint($color, $percentage)
  @return mix(white, $color, $percentage)

@function shade($color, $percentage)
  @return mix(black, $color, $percentage)

$white: #F4F0EA
$black: #111111
$gray: #333333
$primary: #648D64
$primary--light: tint($primary, 30%)
$primary--dark: shade($primary, 30%)
$secondary: #EEE0CB
$secondary--light: tint($secondary, 30%)
$secondary--dark: shade($secondary, 30%)
$red: #A4493E
$orange: #C07444
$yellow: #EDB857

$screen-mobile: 460px
$screen-mobile--landscape: 760px
$screen-tablet: 769px
$screen-laptop: 1024px
$screen-desktop: 1440px

$space-xs: 4px
$space-sm: 8px
$space-md: 16px
$space-lg: 24px
$space-xl: 32px

$shadow-2dp: 0 2px 4px 0 rgba(0,0,0,0.2)

$radius: 3px
$radius-large: 12px
