$white: #F4F0EA
$black: #111111
$gray: #333333
$primary: #648D64
$secondary: #EEE0CB
$red: #A4493E
$orange: #C07444
$yellow: #EDB857


$space-xs: 4px
$space-sm: 12px
$space-md: 28px
$space-lg: 36px
$space-xl: 48px


h1, h2, h3, h4, h5, h6, p, li
  padding: $space-xs
  margin: 0

h1, h2, h3
  font-family: Fugaz
  text-align: center

h1
  font-size: 32px
  color: $black
  padding: $space-xs 0

h2
  font-size: 24px
  color: $black

h3
  font-size: 18px
  color: $gray

h4
  font-size: 24px
  color: $secondary

p, li
  font-family: "Open Sans"
  color: $white
  font-size: 18px

p
  font-weight: light


