#wrapper
  display: grid
  grid-template-rows: auto 1fr auto
  height: 100%
  margin: 0
  padding: 0

  & > header
    grid-area: head

  & > main
    grid-area: main

  & > nav.drawer
    grid-area: nav-drawer

  & > footer
    grid-area: footer

@media screen and (max-width: $screen-mobile)
  #wrapper
    margin: 0
    padding: 0
    grid-template-areas: "head" "main" "footer"

  .content
    text-align: center

  section.wide
    margin: 0 -$space-lg 
  section.row
    gap: $space-sm

@media screen and (min-width: $screen-mobile) and (max-width: $screen-tablet)
  #wrapper
    grid-template-areas: "head" "main" "footer"
    
  .content
    text-align: center

  section.wide
    margin: 0px -$space-lg*4
  section.row
    gap: $space-sm

@media screen and (min-width: $screen-tablet) and (max-width: $screen-laptop)
  #wrapper
    grid-template-areas: "head" "main" "footer"
    
  .content
    text-align: center

  section.row
    gap: $space-md

@media screen and (min-width: $screen-laptop) and (max-width: $screen-desktop)
  #wrapper
    grid-template-areas: "head" "main" "footer"
    max-width: $screen-laptop
    margin: 0 auto
    
  .content
    text-align: center

  section.row
    gap: $space-md

