---
---
.landing
  height: 400px
  display: flex
  justify-content: center
  align-items: center
  background-color: darkgreen
  
  &-text
    font-size: 32px
    color: white
    list-style: none
    justify: center
    & li
      margin: 32px
