---
---
@import "fonts"
@import "variables"

.landing
  height: 592px
  display: flex
  justify-content: center
  align-items: center
  background-color: darkgreen
  background-image: url("/assets/images/landing-drone.jpg")
  background-repeat: no-repeat
  background-size: cover
  position: relative
  z-index: -1
  
  &-text
    color: white
    text-align: center
    & p 
      font-family: Fugaz
      padding: $space-sm
      margin: 0
    &-flavor
      font-size: 32px
    &-names
      font-size: 24px
      opacity: 70%
