section.dropdown
  position: relative
  display: flex
  gap: $space-sm

.dropdown-nav 
  position: absolute
  bottom: 0 // TODO: Change this to have a gap (but needs a debouncer so it doesn't close when moving over to the nav
  > main
    display: grid
    position: absolute
    background-color: $secondary
    box-shadow: $shadow-24dp
    z-index: 24

.hidden
  display: none
