.logo
  font-size: 32px
  color: $black
  padding: $space-md $space-sm
  margin: 0
  background: linear-gradient($primary 25%, $yellow 25% 42%, $orange 42% 58%, $red 58% 75%, $primary 75% 100%)
  background-color: $primary
  text-align: start
