<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width">
    <title>{{ page.title }}</title>
    <link rel='stylesheet' href="/assets/css/styles.css">
    {% seo %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WYX9805ST9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WYX9805ST9');
    </script>
  </head>

  <body>
    {% include quickview.html %}

    <div id="wrapper">
      {% include menu.html %}

      {% include header.html %}

      <main class="content">
        {{ content }}
      </main>

      {% include footer.html %}
    </div>
  </body>
  
  <footer>
    <script src="/assets/js/menu.js"></script>
    <script src="/assets/js/quickview.js"></script>
    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
  </footer>
</html>
