---
layout: default
---
<h1 class="post-title">{{ page.title }}</h1>
<h2 class="post-flavor">{{ page.flavor-text }}</h2>

<p class="post-author">
  {{ page.date | date_to_string }}
  {% assign author = site.authors | where: 'short_name', page.author | first %}
  {% if author %}
    - <a href="{{ author.url }}">{{ author.name }}</a>
  {% endif %}
</p>

{% for media in site.static_files %}
  {% if media.path contains "assets/media" %}
    <img src="{{ site.url | append:media.path }}" class="post-image"></img>
  {% endif %}
{% endfor %}
{{ content }}
